.manageSp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2%;
    margin: 1%;
}
.App{
    background-color: black;
}
.bg-primary1 {
    background-color: #C620A7;
}

.bg-primary2 {
    background-color: black;
}